.photo-container {
    
    h2 {
        margin-top: 0;
        margin-bottom: 5px;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
    height: 300px;
    background-color: #e6e6e6;
    border: 1px solid black;
    text-align: center;

    .title {
        margin-bottom: 0;
    }

    .thumb-container {
        width: 100%;

        img {
            width: 150px;
            height: 150px;
        }
    }
}