<div class="photo-container">
  <h2>Album Title</h2>
  <p class="title"> {{item.title}}</p>
  <br>
  <h2>Album Thumbnail</h2>
  <div class="thumb-container">
    <img 
      [src]="item.thumbnailUrl" 
      alt="photo-thumb">
  </div>
</div>
